.DS_Store
/aom/
/brotli/
/build-aom.log
/build-brotli.log
/build-cmake.log
/build-ffmpeg.log
/build-freetype.log
/build-fribidi.log
/build-harfbuzz.log
/build-lame.log
/build-libass.log
/build-libpng.log
/build-ogg.log
/build-openh264.log
/build-opus.log
/build-pkg-config.log
/build-svt-av1.log
/build-vorbis.log
/build-vpx.log
/build-x264.log
/build-x265.log
/build-zlib.log
/build-autoconf.log
/build-automake.log
/build-avisynthplus.log
/build-libtool.log
/build-openjpeg.log
/build-soxr.log
/build-xvid.log
/xvid
/libtool
/automake
/autoconf
/.vscode
/cmake/
/ffmpeg-success.zip
/ffmpeg-success/
/ffmpeg/
/freetype/
/fribidi/
/harfbuzz/
/lame/
/libass/
/libpng/
/ogg/
/openh264/
/openjpeg/
/opus/
/out/
/pkg-config/
/soxr/
/svt-av1/
/test-aom-av1.log
/test-aom-av1.mp4
/test-lame.log
/test-lame.mp3
/test-libass.log
/test-libass.mp4
/test-openh264.log
/test-openh264.mp4
/test-opus.log
/test-opus.opus
/test-svt-av1.log
/test-svt-av1.mp4
/test-vorbis.log
/test-vorbis.ogg
/test-vp8.log
/test-vp8.webm
/test-vp9.log
/test-vp9.webm
/test-x264.log
/test-x264.mp4
/test-x265-10bit.mp4
/test-x265-12bit.mp4
/test-x265-8bit.mp4
/test-x265_10bit.log
/test-x265_12bit.log
/test-x265_8bit.log
/test.log
/tool/
/vorbis/
/vpx/
/x264/
/x265/
/zlib/
